/* Reset and Base Styles */
html,
body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #181818;
    color: white;
}

/* Navbar Styling */
.navbar {
    background-color: #181818;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
}

.navbar a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar a:hover {
    color: #fff;
}

.navbar a:active {
    text-decoration: underline;
    text-decoration-color: #0078d7;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.navbar a.current {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #0078d7;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

/* Main Content */
.main-content {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

/* Input and Button Styling */
#arrayInput {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

#generateButton {
    justify-content: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* Array Container */
#arrayContainer {
    margin-top: 20px;
    padding: 2px;
    border: 3px solid #3498db;
    border-radius: 8px;
    background-color: #1f1f1f;
    max-width: 600px;
    width: 90%;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* Bar Styling */
.bar {
    background-color: #3498db;
    margin: 0 1px;
    width: 15px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    transition: height 0.3s ease, background-color 0.3s ease;
}

/* Text in the bars */
.bar-value {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 1.5;
}

/* Highlight bars being swapped */
.highlight {
    background-color: blue;
}

/* Completed bars */
.completed {
    background-color: green;
}

/* Step Navigation Buttons */
#prev,
#next {
    font-size: 24px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

/* Step Counter Display */
#stepNumber {
    font-size: 20px;
    margin-top: 10px;
}